# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Python virtual environment
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp

# IDE files
.vscode/
.idea/